@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Gideon Roman", serif;
  font-weight: 200;
  font-style: normal;
  background-color: #0d0d0d;
  color: #fff;
  scroll-behavior: smooth;
}

/* Header */
header {
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  z-index: 1;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.logo span {
  color: #b30000;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #b30000;
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../media/portfoliobanner.jpg') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero-text h2 {
  font-size: 3rem;
  color: white;
  margin-top: 10px;
}

.hero-text h2 span {
  color: #b30000;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 40px;
}

.btn {
  background-color: #b30000;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s;
}
.btn:hover {
  background-color: white;
  color: #b30000;
}

/* About */
.about {
  padding: 100px 80px;
  background-color: #111;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../media/portfolio7.jpg') center/cover;
}
.about-content {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1000px;
}
.about-content img {
  border-radius: 15px;
  width: 990px;
  height: 600px;
  object-fit: cover;
}
.about-text h2 {
  color: #b30000;
  margin-bottom: 15px;
}
.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Skills */
.skills {
  padding: 100px 60px;
  background-color: #0d0d0d;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../media/portfolio8.jpg') center/cover;
}
.skills h2 {
  color: #b30000;
  margin-bottom: 40px;
}
.skill-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.skills h3 {
  margin-bottom: 10px;
}
.card {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  width: 250px;
  transition: transform 0.3s, background 0.3s;
}
.card:hover {
  transform: translateY(-10px);
  background-color: #b30000;
}

/* projects */
.projects {
  background-color: #111;
  padding: 100px 60px;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('../media/portfolio8.jpg') center/cover;
}
.projects h2 {
  color: #b30000;
  margin-bottom: 40px;
}
.project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
.project {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  transition: transform 0.3s;
}
.project:hover {
  transform: scale(1.05);
}
.project img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.project h3 {
  color: white;
  margin-bottom: 10px;
}

/* Contact */
.contact {
  background-color: #0d0d0d;
  text-align: center;
  padding: 100px 60px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../media/portfolio2.jpg') center/cover;
}
.contact h2 {
  color: #b30000;
  margin-bottom: 20px;
}
.contact-info p {
  margin: 10px 0;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact a:hover {
  color: #b30000;
}

/* Footer */
footer {
  background-color: #111;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 0.9rem;
}

/* Responsive Design */

@media (max-width: 1024px) {
  header {
    padding: 15px 30px;
  }
  .hero-text h2 {
    font-size: 40px;
  }
  .about-content img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px)  {
  nav ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 10px;
  }

  .hero {
    padding: 20px;
  }

  .hero-text h2 {
    font-size: 32px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .about {
    padding: 60px 30px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-content img {
    width: 100%;
    height: auto;
  }

  .skills {
    padding: 60px 20px;
  }

  .card {
    width: 90%;
  }

  .projects {
    padding: 60px 20px;
  }

  .project {
    width: 100%;
  }

  .contact {
    padding: 60px 20px;
  }
}

@media (max-width: 480px) {
  .hero-text h2 {
    font-size: 27px;
  }

  .btn {
    padding: 8px 18px;
    font-size: 14px;
  }

  .skills h2,
  .projects h2,
  .contact h2 {
    font-size: 24px;
  }

  footer {
    font-size: 13px;
  }
}


